<h2 class="text-center mb-0" style="background-color: #003580;color: White;">Brand</h2>
<nav class="navbar navbar-dark navbar-expand-md sticky-top" style="background: #003580;">
    <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav d-xl-flex justify-content-around align-items-xl-center" style="width: 100%;">
                <li class="nav-item"><a
                        class="nav-link active d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center"
                        href="#"><i class="fa fa-home"></i>Home</a></li>
                <li class="nav-item"><a
                        class="nav-link d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center active"
                        href="#"><i class="fa fa-car"></i>Automobiles</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link  d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center active"
                        href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-line-chart dropdown-toggle"></i>Business
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  routerLink="market">Marketing</a>
                        <a class="dropdown-item" href="#">News</a>
                    </div>
                </li>
                <li class="nav-item"><a
                        class="nav-link d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center active"
                        href="#"><i class="fa fa-soccer-ball-o"></i>Sports</a></li>
                <li class="nav-item"><a
                        class="nav-link d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center active"
                        href="#"><i class="fa fa-laptop"></i>Gadgets</a></li>
                <li class="nav-item"><a
                        class="nav-link d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center active"
                        href="#"><i class="fa fa-bell-o"></i>Events</a></li>
                <li class="nav-item"><a
                        class="nav-link d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center active"
                        href="#"><i class="fa fa-sun-o"></i>Services</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link  d-md-flex d-lg-flex d-xl-flex flex-column justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center active"
                        href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-user-o dropdown-toggle"></i>Naiyer sir
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Inbox</a>
                        <a class="dropdown-item" href="#">Signout</a>
                        <a class="dropdown-item" href="#">Payment</a>
                        <a class="dropdown-item" routerLink="saved">Saved</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group mb-3">
                    <input type="text" class="form-control search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                    </div>
                  </div>
              </form>
        </div>
    </div>
</nav>