<div class="team-clean">
  <div class="container">
      <div class="intro">
          <h1 class="text-left py-4">Our Team</h1>
      </div>
      <div class="row people">
          <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/assets/img/1.jpg">
              <h3 class="name">Ben Johnson</h3>
              <p class="title">Musician</p>
          </div>
          <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/assets/img/1.jpg">
              <h3 class="name">Ben Johnson</h3>
              <p class="title">Musician</p>
          </div>
          <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/assets/img/1.jpg">
              <h3 class="name">Ben Johnson</h3>
              <p class="title">Musician</p>
          </div>
          <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/assets/img/2.jpg">
              <h3 class="name">Emily Clark</h3>
              <p class="title">Artist</p>
          </div>
          <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/assets/img/2.jpg">
              <h3 class="name">Emily Clark</h3>
              <p class="title">Artist</p>
          </div>
          <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="/assets/img/3.jpg">
              <h3 class="name">Carl Kent</h3>
              <p class="title">Stylist</p>
          </div>
      </div>
  </div>
</div>